.sidenav {
    background-color: rgb(28,28,28);
    width: 200px;
}

.sidenav a {
    color: rgb(184,134,11);
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: rgb(28,28,28);
}